.project-card-mini {
  box-sizing: border-box;
  @include mobile {
    width: 100%;
    height: auto;
  }
  border: 1px solid #abb2bf;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  &:hover {
    border: 1px solid #ae85f2;
    transform: scale(1.05);
    box-shadow: 0 4px 22px rgba(174, 133, 242, 0.18);
    .project-card-mini-tech,
    .project-card-mini-title {
      border-color: #ae85f2;
    }
  }
  .project-card-mini-img {
    width: 330px;
    height: 220px;
    display: block;
    object-fit: cover;
    img {
      width: 330px;
      height: 220px;
      object-fit: cover;
    }
    @include mobile {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    @include tablet {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    @include mobile-landscape {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .project-card-mini-tech {
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #abb2bf;
    border-top: 1px solid #abb2bf;
  }
  .project-card-mini-title {
    padding: 16px 6px;
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    color: #ffffff;
    border-top: 1px solid #abb2bf;
  }
}
