@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1100px) {
    @content;
  }
}
@mixin mobile-landscape {
  @media (max-height: 500px) and (orientation: landscape) {
    @content;
  }
}
@mixin d-flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin d-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
