@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./_mixins.scss";
@import "./components/_header.scss";
@import "./components/_project-card-mini.scss";
@import "./components/_project-card-big.scss";
@import "./pages/_home-page.scss";
@import "./pages/_about-me.scss";
@import "./pages/_projects.scss";

:root {
  --font-family: "Fira Code", monospace;
  --bg-color: #343737;
}
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.go-top {
  box-sizing: border-box;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  border: 4px solid #86949c;
  background: white;
  line-height: 40px;
}
.go-top.visible {
  opacity: 0.8;
  visibility: visible;
  pointer-events: auto;
}
.go-top::after {
  background: url("/images/icons/back.png") center center no-repeat;
  width: 12px;
  height: 20px;
  content: "";
  display: inline-block;
  background-size: 100%;
  transform: rotate(90deg);
  opacity: 0.5;
}
.page-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-container {
    position: relative;
    max-width: 1365px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .social-icons {
      position: absolute;
      top: 200px;
      left: 17px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      a {
        display: inline-block;
        img {
          width: 32px;
          height: 32px;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .content-wrapper {
      max-width: 1025px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile {
        max-width: none;
      }
    }
  }
}
